*.[Rr]md linguist-detectable=true
*.md linguist-detectable=true
*.md linguist-language=Markdown
.gitattributes linguist-detectable=true
.gitattributes linguist-language=Git Attributes
.gitignore linguist-detectable=true
.gitignore linguist-language=Ignore List