*.[Rr]md linguist-detectable=true
*.md linguist-detectable=true
*.md linguist-language=Markdown
*.gitattributes linguist-detectable=true
*.gitignore linguist-detectable=true
*.csv linguist-detectable=true
*.csv linguist-language=CSV